<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
</head>
<body>
  <%- include ('partials/header', {title: "Registrar"}) %>
  <h1>Criar conta</h1>

  <% if (error) { %>
    <p style="color:red"><%= error %></p>
  <% } %>

  <form action="/register" method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" required><br>

    <label>Email:</label>
    <input type="text" name="email" required><br>

    <label>Senha:</label>
    <input type="password" name="senha" required><br>

    <button type="submit">Registrar</button>
  </form>

  <p>Já tem conta? <a href="/login">Fazer login</a></p>
  <%- include ('partials/footer') %>
</body>
</html>
